# Чтение данных с Excel, CSV, TXT

In [1]:
import pandas as pd
import numpy as np

# https://www.kaggle.com/gregorut/videogamesales

# pd.read_excel(data.xsl)
# pd.read_csv(data.txt, header = None)

games = pd.read_csv('vgsales.csv', usecols = lambda column: column not in ['Rank'])

In [2]:
games

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

# Тип данных

In [3]:
type(games)

pandas.core.frame.DataFrame

# Индексация

In [4]:
games[['Name', 'Year', 'Global_Sales']]

                                                   Name    Year  Global_Sales
0                                            Wii Sports  2006.0         82.74
1                                     Super Mario Bros.  1985.0         40.24
2                                        Mario Kart Wii  2008.0         35.82
3                                     Wii Sports Resort  2009.0         33.00
4                              Pokemon Red/Pokemon Blue  1996.0         31.37
...                                                 ...     ...           ...
16593                Woody Woodpecker in Crazy Castle 5  2002.0          0.01
16594                     Men in Black II: Alien Escape  2003.0          0.01
16595  SCORE International Baja 1000: The Official Game  2008.0          0.01
16596                                        Know How 2  2010.0          0.01
16597                                  Spirits & Spells  2003.0          0.01

[16598 rows x 3 columns]

In [5]:
games[['Name']][:10]

                        Name
0                 Wii Sports
1          Super Mario Bros.
2             Mario Kart Wii
3          Wii Sports Resort
4   Pokemon Red/Pokemon Blue
5                     Tetris
6      New Super Mario Bros.
7                   Wii Play
8  New Super Mario Bros. Wii
9                  Duck Hunt

# Создание новых объектов на основе существующих

In [6]:
# games_new - новый объект (не ссылка на объект games)
games_new = games[['Name']].copy()
type(games_new)

pandas.core.frame.DataFrame

In [7]:
games_new

                                                   Name
0                                            Wii Sports
1                                     Super Mario Bros.
2                                        Mario Kart Wii
3                                     Wii Sports Resort
4                              Pokemon Red/Pokemon Blue
...                                                 ...
16593                Woody Woodpecker in Crazy Castle 5
16594                     Men in Black II: Alien Escape
16595  SCORE International Baja 1000: The Official Game
16596                                        Know How 2
16597                                  Spirits & Spells

[16598 rows x 1 columns]

# Создание ссылок на существующие объекты

In [8]:
games_link1 = games.loc[:,["Name", "Year"]] # индексация по названию
games_link2 = games.iloc[:,0:2] # численная индексация

In [9]:
games_link1

                                                   Name    Year
0                                            Wii Sports  2006.0
1                                     Super Mario Bros.  1985.0
2                                        Mario Kart Wii  2008.0
3                                     Wii Sports Resort  2009.0
4                              Pokemon Red/Pokemon Blue  1996.0
...                                                 ...     ...
16593                Woody Woodpecker in Crazy Castle 5  2002.0
16594                     Men in Black II: Alien Escape  2003.0
16595  SCORE International Baja 1000: The Official Game  2008.0
16596                                        Know How 2  2010.0
16597                                  Spirits & Spells  2003.0

[16598 rows x 2 columns]

In [10]:
games_link2

                                                   Name Platform
0                                            Wii Sports      Wii
1                                     Super Mario Bros.      NES
2                                        Mario Kart Wii      Wii
3                                     Wii Sports Resort      Wii
4                              Pokemon Red/Pokemon Blue       GB
...                                                 ...      ...
16593                Woody Woodpecker in Crazy Castle 5      GBA
16594                     Men in Black II: Alien Escape       GC
16595  SCORE International Baja 1000: The Official Game      PS2
16596                                        Know How 2       DS
16597                                  Spirits & Spells      GBA

[16598 rows x 2 columns]

# Информация о наборе данных

In [11]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16598 non-null  object
 1   Platform      16598 non-null  object
 2   Year          16327 non-null  float64
 3   Genre         16598 non-null  object
 4   Publisher     16540 non-null  object
 5   NA_Sales      16598 non-null  float64
 6   EU_Sales      16598 non-null  float64
 7   JP_Sales      16598 non-null  float64
 8   Other_Sales   16598 non-null  float64
 9   Global_Sales  16598 non-null  float64
dtypes: float64(6), object(4)
memory usage: 1.3+ MB

# Переименование

In [12]:
games_for_rename = games[['Name']].copy()
games_for_rename

                                                   Name
0                                            Wii Sports
1                                     Super Mario Bros.
2                                        Mario Kart Wii
3                                     Wii Sports Resort
4                              Pokemon Red/Pokemon Blue
...                                                 ...
16593                Woody Woodpecker in Crazy Castle 5
16594                     Men in Black II: Alien Escape
16595  SCORE International Baja 1000: The Official Game
16596                                        Know How 2
16597                                  Spirits & Spells

[16598 rows x 1 columns]

In [13]:
games_for_rename = games_for_rename.rename(columns={'Name': 'Name_rename'})
games_for_rename

                                            Name_rename
0                                            Wii Sports
1                                     Super Mario Bros.
2                                        Mario Kart Wii
3                                     Wii Sports Resort
4                              Pokemon Red/Pokemon Blue
...                                                 ...
16593                Woody Woodpecker in Crazy Castle 5
16594                     Men in Black II: Alien Escape
16595  SCORE International Baja 1000: The Official Game
16596                                        Know How 2
16597                                  Spirits & Spells

[16598 rows x 1 columns]

# Заполнение пропусков в данных

In [14]:
games_for_fillna = games[['Name']].copy()
games_for_fillna.iloc[0:3,0:1] = None
games_for_fillna

                                                   Name
0                                                  None
1                                                  None
2                                                  None
3                                     Wii Sports Resort
4                              Pokemon Red/Pokemon Blue
...                                                 ...
16593                Woody Woodpecker in Crazy Castle 5
16594                     Men in Black II: Alien Escape
16595  SCORE International Baja 1000: The Official Game
16596                                        Know How 2
16597                                  Spirits & Spells

[16598 rows x 1 columns]

In [15]:
games_for_fillna.fillna("NoNameGame", inplace=True)
games_for_fillna

                                                   Name
0                                            NoNameGame
1                                            NoNameGame
2                                            NoNameGame
3                                     Wii Sports Resort
4                              Pokemon Red/Pokemon Blue
...                                                 ...
16593                Woody Woodpecker in Crazy Castle 5
16594                     Men in Black II: Alien Escape
16595  SCORE International Baja 1000: The Official Game
16596                                        Know How 2
16597                                  Spirits & Spells

[16598 rows x 1 columns]

# Выброс пустых значений

In [16]:
games_for_dropna = games[['Name']].copy()
games_for_dropna.iloc[0:3,0:1] = None
games_for_dropna

                                                   Name
0                                                  None
1                                                  None
2                                                  None
3                                     Wii Sports Resort
4                              Pokemon Red/Pokemon Blue
...                                                 ...
16593                Woody Woodpecker in Crazy Castle 5
16594                     Men in Black II: Alien Escape
16595  SCORE International Baja 1000: The Official Game
16596                                        Know How 2
16597                                  Spirits & Spells

[16598 rows x 1 columns]

In [17]:
games_for_dropna.dropna(inplace=True)
games_for_dropna

                                                   Name
3                                     Wii Sports Resort
4                              Pokemon Red/Pokemon Blue
5                                                Tetris
6                                 New Super Mario Bros.
7                                              Wii Play
...                                                 ...
16593                Woody Woodpecker in Crazy Castle 5
16594                     Men in Black II: Alien Escape
16595  SCORE International Baja 1000: The Official Game
16596                                        Know How 2
16597                                  Spirits & Spells

[16595 rows x 1 columns]

# Операции над значениями

In [23]:
games_for_operation = games[['Name', 'NA_Sales', 'EU_Sales', 'JP_Sales']].copy()
games_for_operation

,Name,NA_Sales,EU_Sales,JP_Sales
0,Wii Sports,41.49,29.02,3.77
1,Super Mario Bros.,29.08,3.58,6.81
2,Mario Kart Wii,15.85,12.88,3.79
3,Wii Sports Resort,15.75,11.01,3.28
4,Pokemon Red/Pokemon Blue,11.27,8.89,10.22
...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,0.01,0.00,0.00
16594,Men in Black II: Alien Escape,0.01,0.00,0.00
16595,SCORE International Baja 1000: The Official Game,0.00,0.00,0.00
16596,Know How 2,0.00,0.01,0.00
16597,Spirits & Spells,0.01,0.00,0.00

In [24]:
games_for_operation['NA_Sales'] +=500
games_for_operation['EU_Sales'] /=5
games_for_operation['JP_Sales'] = games_for_operation['EU_Sales'] + games_for_operation['NA_Sales']
games_for_operation

,Name,NA_Sales,EU_Sales,JP_Sales
0,Wii Sports,541.49,5.804,547.294
1,Super Mario Bros.,529.08,0.716,529.796
2,Mario Kart Wii,515.85,2.576,518.426
3,Wii Sports Resort,515.75,2.202,517.952
4,Pokemon Red/Pokemon Blue,511.27,1.778,513.048
...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,500.01,0.000,500.010
16594,Men in Black II: Alien Escape,500.01,0.000,500.010
16595,SCORE International Baja 1000: The Official Game,500.00,0.000,500.000
16596,Know How 2,500.00,0.002,500.002
16597,Spirits & Spells,500.01,0.000,500.010

# Вывод списка колонок

In [26]:
list(games)

['Name',
 'Platform',
 'Year',
 'Genre',
 'Publisher',
 'NA_Sales',
 'EU_Sales',
 'JP_Sales',
 'Other_Sales',
 'Global_Sales']

# Фильтрация

In [27]:
games_for_filter = games.copy()
games_for_filter

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [54]:
condition1 = games_for_filter['Year']>2015
condition2 = games_for_filter['Platform'] == 'PS4'
condition2

0        False
1        False
2        False
3        False
4        False
         ...
16593    False
16594    False
16595    False
16596    False
16597    False
Name: Platform, Length: 16598, dtype: bool

In [55]:
games_for_filter[condition1&condition2]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
221,FIFA 17,PS4,2016.0,Sports,Electronic Arts,0.28,3.75,0.06,0.69,4.77
271,Uncharted 4: A Thief's End,PS4,2016.0,Shooter,Sony Computer Entertainment,1.30,2.07,0.18,0.65,4.20
351,Tom Clancy's The Division,PS4,2016.0,Shooter,Ubisoft,1.28,1.61,0.15,0.57,3.61
770,Far Cry: Primal,PS4,2016.0,Action,Ubisoft,0.59,1.16,0.06,0.33,2.13
1026,Overwatch,PS4,2016.0,Shooter,Activision,0.64,0.68,0.14,0.26,1.73
...,...,...,...,...,...,...,...,...,...,...
16175,Republique,PS4,2016.0,Action,Nippon Ichi Software,0.00,0.01,0.01,0.00,0.01
16220,Dynasty Warriors: Eiketsuden,PS4,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01
16260,Paragon,PS4,2016.0,Action,Epic Games,0.01,0.00,0.00,0.00,0.01
16550,God Eater Off Shot: Tachibana Sakuya-hen Twin ...,PS4,2016.0,Action,Namco Bandai Games,0.00,0.00,0.01,0.00,0.01
16570,Farming 2017 - The Simulation,PS4,2016.0,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01